.Popup {
    position: fixed;
    width: 70%;
    bottom: 4%;
    left: 50%;
    margin-top: -20px;
    margin-left: -35%;
    text-align: center;
    border-radius: 30px;
    background-color: #1edf7e;
    height: 40px;
    font-size: 24px;
    transition: all 0.3s ease-out;
}