.Modal {
    position: fixed;
    overflow: scroll;
    z-index: 500;
    background-color: white;
    width: 70%;
    max-height: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Modal h1 {
    text-align: center;
}

.Product {
    font-size: 20px;
    padding: 2px;
    border: 1px solid #3a9ea3;
}

.Product div {
    float: right;
    color: red;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}